table {
  border-collapse: collapse;
  margin-top: 2rem;
}

table, th, td {
  max-width: 7vw;
  min-width: 90%;
  padding: 0.2rem;
}

th {
  border-bottom: 1px solid;
}

td {
  border-bottom: 1px solid;
  font-size: 0.8rem;
  text-align: center;
  word-wrap: break-word;
}
