.App {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main-content {
  align-items: center;
  border: 1px solid var(--white);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 3rem;
  width: 90vw;
}

.filters-group {
  align-items: center;
  display: flex;
  flex-flow: wrap;
  flex-direction: row;
  justify-content: center;
  margin-top: 3rem;
}

.table-container {
  height: 50vh;
  overflow-y: scroll;
  width: 100%;
}
