@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

:root {
  --dark: #25262B;
  --gray: #373A40;
  --yellow: #FCC419;
  --white: #FFFFFF;
}

* {
  font-family: 'Inter', sans-serif;
}

body {
  background-color: var(--dark);
  color: var(--white);
  background-image: url('./assets/images/starwars-desktop-bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
