@media only screen and ( max-width : 768px ) {

  header {

    .ellipse1 {
      width: 31rem;
    }

    .ellipse2 {
      width: 22.1rem;
    }

    .starwars-logo {
      width: 19rem;
    }

    .line1 {
      height: 11.5rem;
      position: absolute;
    }

  }

  .main-content {
    margin-bottom: 1.5rem ! important;
  }

  input {
    font-size: 0.9rem;
  }

  label, select, button {
    font-size: 1.1rem;
  }

  .name-filter-container {
    margin-left: 1rem;
  }

  .filters-group {
    gap: 5rem;
  }

  .numeric-filter-form {
    flex-direction: column;
    gap: 4rem;

    > label, input, button {
      margin-left: 3rem;
    }
  }

  .sort-form {
    flex-flow: column ! important;
    gap: 4rem;

    > label, input {
      margin-left: 3rem;
    }
  }

  .button-clear-filters {
    margin-top: 4rem ! important;
  }

  .render-filters-container {
    display: flex;
    flex-direction: column;
    gap: 1rem ! important;
    margin-top: 2rem ! important;
  }

  th {
    height: 4rem ! important;
    min-width: 6.55rem ! important;
  }

  .table-container {
    height: 69vh ! important;
  }
}
