@media screen and ( max-width : 768px ) {

  header {

    .ellipse1 {
      width: 27rem;
    }

    .ellipse2 {
      width: 19rem;
    }

    .starwars-logo {
      width: 16rem;
    }

    .line1 {
      height: 11.2rem;
      position: absolute;
    }
  }
}
